
<div class="hua_search">
 <div style="color:#559900;" class="search_txt">我们专注于提供电子元器件在线采购服务</div>
 
 <?php 
 	//echo $this->Form->create('PartSearch', array('url' => array('controller' => 'parts', 'action' => 'search')));
 	//echo $this->Form->input('keyword', array('class' => 'hua_txt'));
	//echo $this->Form->end('Submit');
	?>

<form accept-charset="utf-8" method="post" id="PartSearchIndexForm" action="/parts/edit">
	<div style="display:none;"><input type="hidden" value="POST" name="_method"></div>
	<div class="input text">
		<input type="text" id="PartSearchKeyword" class="hua_txt" name="data[PartSearch][keyword]">
		<input type="submit" value="" class="hua_submit">
	</div>
</form>

</div>