
<div class="w950" id="header">
	<div class="favorite_box">
		<img src="images/start.jpg">
		<a onclick="AddFavorite(window.location,document.title)" href="javascript:void(0);">
			收藏ICkey
		</a>
	</div>
	<div class="bg_png top_menu">
		<form action="#1" enctype="multipart/form-data" method="post">
			<div class="bt_ipt_png top_user">
				<input style="color: rgb(153, 153, 153);" name="username" id="username"
				alt="用户名" class="no_border top_input_login df_ipt" value="">
				<script type="text/javascript">
					$('#username').DefaultValue("帐号/Email", '#999999', '#000');
				</script>
			</div>
			<div class="bt_ipt_png top_pass">
				<input type="password" id="password" name="password" alt="密码" class="no_border top_input_login df_ipt"
				value="" style="display:none;*width:92px">
				<input type="text" id="passmask" alt="密码" class="no_border top_input_login df_ipt"
				value="密码" style="display: inline;*width:98px;padding: 6px 0 0 5px;*padding: 4px 0 0 5px;">
				<script type="text/javascript">
					$('#passmask').focus(function() {
						$(this).hide();
						$('#password').show();
						$('#password').focus();
					});
					$('#password').blur(function() {
						if (this.value == '') {
							$(this).hide();
							$('#passmask').show()
						}
					})
				</script>
				<input type="submit" id="btn_s_login" alt="登录" class="no_border bt_ipt_png top_btn_login"
				value=" ">
				<input type="hidden" name="sub" value="login">
			</div>
		</form>
		<div class="top_link">
			<a href="#1">
				找回密码
			</a>
			|
			<a href="#1">
				注册新帐号
			</a>
		</div>
		<div class="top_cart_favo ico_png">
			<a title="型号收藏夹" href="#1members.php?action=favorites">
				型号收藏夹
			</a>
		</div>
		<div class="top_cart_link ico_png">
			<a title="查看购物车" href="#1carts.php">
				购物车(
				<font color="#F46600">
					0
				</font>
				)
			</a>
		</div>
	</div>
	<div class="banner w950">
		<a href="/" style="background: url(/images/ickey_logo_1.jpg);" class="ickey_png"
		alt="ickey.cn" id="logo">
		</a>
		<div class="services">
			<div class="top_online bg_png">
				<div class="link_online">
					<a id="link_online" onclick="javascript:window.open('http://b.qq.com/webc.htm?new=0&amp;sid=4006656876&amp;eid=218808P8z8p8R808y8R8z&amp;o=www.ickey.cn&amp;q=7', '_blank', 'height=544, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');"
					href="#">
						客服[在线]
					</a>
				</div>
				<div class="ico_png ico_online" id="btn_online">
				</div>
			</div>
			<div class="top_tel">
				客服电话：
				<font class="tel_no">
					400-6656-876
				</font>
				<br>
				服务时间：8:00-18:30
			</div>
			<div class="ico_png ico_tel">
			</div>
		</div>
		<div class="nav_menu">
			<ul class="nav_list">
				<li id="menu_1" class="bt_ipt_png nav_l1 nav_on">
					<a href="/">
						首页/搜索
					</a>
				</li>
				<li id="menu_2" class="bt_ipt_png nav_l1 nav_off">
					<a href="#1datasheets.php">
						资料下载
					</a>
				</li>
				<li id="menu_5" class="bt_ipt_png nav_l1 nav_off">
					<a href="#1catalog.php">
						参数选型
					</a>
				</li>
				<li id="menu_3" class="bt_ipt_png nav_l1 nav_off">
					<a href="#1news.php">
						新闻资讯
					</a>
				</li>
				<li id="menu_4" class="bt_ipt_png nav_l1 nav_off">
					<a href="#1misc.php?p=about_us">
						关于ICkey
					</a>
				</li>
				<li id="menu_6" class="bt_ipt_png nav_l1 nav_off_1">
					<a href="#1gift.php">
						积分换礼
					</a>
				</li>
				<li id="menu_7" class="bt_ipt_png nav_l1 nav_off">
					<a href="#1members.php">
						订单管理
					</a>
					<br>
					<ul class="nav_sub">
						<li class="nav_l2">
							<a href="#1members.php?action=myorder">
								我的订单
							</a>
						</li>
						<li class="nav_l2">
							<a href="#1members.php?action=favorites">
								型号收藏夹
							</a>
						</li>
						<li class="nav_l2">
							<a href="#1members.php?action=mycz">
								我的帐户
							</a>
						</li>
						<li class="nav_l2">
							<a href="#1members.php?action=myjf">
								我的积分
							</a>
						</li>
						<li class="nav_l2">
							<a href="#1members.php?action=month">
								信用额度
							</a>
						</li>
						<li class="nav_l2">
							<a href="#1members.php?action=myjfjh">
								积分计划
							</a>
						</li>
						<li class="nav_l2">
							<a href="#1members.php?action=mydh">
								礼品兑换
							</a>
						</li>
						<li class="nav_l2">
							<a href="#1members.php?action=myaddr">
								收货地址
							</a>
						</li>
						<li class="nav_l2">
							<a href="#1smembers.php?action=myfp">
								发票信息
							</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="top_line blank5 w950">
		</div>
	</div>
</div>

<span class="blank5"></span>
<div class="hua_search">
	<div class="search_txt" style="color:#000;">电子元器件搜索采购</div>
	<form id="formKeyword" action="/filters/set_filter" method="post" accept-charset="utf-8" onsubmit="return ik.testFormKeyword();" >
		<?php 
		$txtKeyword = '';
		$test = $this->Session->read('SESSION_FILTER_KEY');		
		if( $test && $test->q_keyword ){
			$txtKeyword = 	htmlspecialchars(trim($test->q_keyword));
		}
		?>
		<input type="hidden" value="POST" name="_method">
		<input  class="hua_txt"type="text" value="<?php echo $txtKeyword;?>" name="keyword" id="txtKeyword">
		<input  class="hua_submit" type="submit" value="" id="txtSubmit"> 
	</form>
</div><!-- hua_search -->


<div class="row" style="display:none;">
<?php 
	// 筛选器使用的Form
	echo $this->Form->create('RequestFilter', array('id' => 'PartFilterForm', 'url' => array('controller' => 'filters', 'action' => 'set_filter')));
	if(isset( $formCategoryId )){
		echo $this->Form->input('q_categoryid', array('value' => $formCategoryId  ));	
	}else{
		if(isset( $category )){
			echo $this->Form->input('q_categoryid', array('value' => $category['Category']["id"]  ));	
		}else{
			echo $this->Form->input('q_categoryid', array('value' => 4780 ));	
		}
	}
	
	//厂商、供应商筛选器
	echo $this->Form->input('q_manufacturers', array('value' => 0 ));			
	echo $this->Form->input('q_suppliers', array('value' => 0 ));
	echo $this->Form->input('q_keyword', array('value' => $txtKeyword ));	
	//属性筛选器
	echo $this->Form->input('q_attributeid');
	echo $this->Form->input('q_is_text',  array('value' => 0));
	echo $this->Form->input('q_text',  array('value' => ''));
	echo $this->Form->input('q_is_exact',  array('value' => 0));
	echo $this->Form->input('q_exact_value');
	echo $this->Form->input('q_exact_unit');
	echo $this->Form->input('q_min_value');
	echo $this->Form->input('q_max_value');
	echo $this->Form->input('q_unit');
	echo $this->Form->input('q_categoryname');
	echo $this->Form->end();
?>
</div>
