@charset "utf-8";
/* CSS Document */


#product { height:205px; width:928px;  margin-top:10px; margin:0 auto; margin-left:10px; padding-bottom:10px;}

#product .box11 { height:203px; width:206px; float:left;}
#product .box22 { height:180px; width:600px; float:left;  margin-left:10px; padding-top:5px;}
#product .box22 dl dd .f1{ font-size:12px; color:#03C; margin-left:10px;}
#product .box22 dl dd .f2{ font-size:16px; color:#03C;}
#product .box22 dl dd { line-height:25px; font-size:14px;}

.tab1{ height:150px; width:928px; margin:0 auto;margin-bottom:20px;}
.tab1{ margin-left:10px;height:auto !important;
min-height:60px;
overflow:hidden;
height:100%; }
.up_down {
    background-image: url(/images/up_down.gif);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
    padding-right:20px;
}
.up {background-image: url(/images/up.gif);background-color:#8DBDD8}
.down {background-image: url(/images/down.gif);background-color:#8DBDD8}
.tab1 table { border-collapse:collapse; border:0px;height:auto;}
.tab1 table td{ border:1px #CCC solid; font-size:12px;}
.tab1 table th{ border:1px #CCC solid; font-size:12px;}
.tab1 table tr{ text-align:center;}
.tab1 table .th{ background:url(/images/img02.gif); height:27px;}

.tab1 .select_tag { float:right; font-size:12px;}
.tab1 .select_tag select { padding:0px 0px;}

.canshu { margin:0 auto; width:888px;}

.canshu table { border-collapse:collapse; border:0px;}

.canshu table tr{ border-bottom:1px #CCC solid; font-size:12px; height:25px;}

.hua_search .search_txt { position:absolute; left:10px; top:18px; font-weight:lighter; font-size:20px;}

.hua_search { margin:0 auto; height:58px; width:948px; background:#f0f3f4; margin-bottom:20px; position:relative; border-bottom:1px #d6e0e1 solid;}

.hua_search .hua_submit { background:url(/images/search.gif); height:31px; width:81px; border:none; cursor:pointer;}




.hua_search form .hua_txt { height:30px; width:300px; border:1px #b9cac9 solid; }
.hua_search .hua_submit {margin-top:1px; background:url(/images/search.gif); height:31px; width:81px; border:none; cursor:pointer; position:absolute; left:315px;}

.hua_search form{ position:absolute; left:225px; top:15px; height:30px;}
.hua_search form .hua_txt { height:30px; width:300px; border:1px #b9cac9 solid; position:absolute; top:0px;}
.bijia { background:url(/images/bijia.png);height:22px; width:50px; border:none; cursor:pointer;}


/*  zhouyong add */
#pro_mno{font-size:16px;margin:0px 0px 6px 0px;}
#product .productMainImg{width:200px;height:200px;border:1px #bbbbbb solid;}
#product .font12{font-size:12px;}
#product .red{color:red;}
#content  .table-bordered tr{height:27px;text-align:center;font-size: 12px;}
#content  .table-bordered td{ border: 1px solid #CCCCCC;}
#content th.pavail{min-width:62px;}
#content th.pris{min-width:62px;}
#content h3.title {background:url(/images/img02.gif) repeat-x; width:928px; padding-left:20px; font-size:14px; font-weight:bold; height:29px; line-height:29px; margin:20px auto;}

