@charset "utf-8";
/* CSS Document */



#main { margin:0 auto; width:948px;
}
img{ border:none;}

#main .hua_left_box{ width:210px; height:1000px;float:left;font-family:"宋体";height:auto !important;
min-height:60px;

height:100%;}
#main .right_box { width:732px; height:1000px;  float:left; margin-left:5px;height:auto !important;
min-height:60px;

height:100%; }

#main .hua_left_box h4{ background:url(/images/img02.gif); height:30px; padding-left:10px; line-height:30px; font-size:14px; font-weight:bold;color:#222222;}

#main .hua_left_box .dl{ margin-left:10px; margin-top:10px; margin-bottom:10px;}
#main .hua_left_box .dl input{ padding-right:5px;}
#main .hua_left_box .dl dt{ font-size:14px; font-weight:bold; color:#222222;}
#main .hua_left_box .dl dd { font-size:12px; line-height:25px;color:#222222;}


/** 右边样式 */
.right_box { margin-bottom:20px;}
.right_box .search_msg { color:#999; font-size:12px; padding-top:10px; padding-left:10px;}
.right_box .hua_paixu { padding-top:10px; padding-left:10px; font-size:12px;}
.style1_box { padding-left:10px; margin-top:20px;}

.style1_box dl { margin-left:0px; margin-top:10px; margin-bottom:10px;}
.style1_box dl dt{ float:left; margin-right:5px;}
.style1_box dl dd{ font-size:12px; line-height:25px; margin-left:5px;}
.style1_box table { border-collapse:collapse; border:0px; font-size:12px;}

.style1_box table td{ border:1px #dddddd solid; text-align:center; height:30px;}

.style1_box table .trbj{ background:#ededed; height:23px; color:#222222; font-size:12px;}

.style1_box .pname { color:#dd4b39; font-size:16px;}

#pageMenu { list-style:none; height:30px; margin-top:10px; margin-left:6px;}
#pageMenu li { float:left;}
#pageMenu li a { float:left;margin-left:5px; text-decoration:none; height:25px; min-width:25px;  display:block; text-align:center; line-height:25px; font-size:14px; padding:1px;1px;}
#pageMenu .focus { background:#cccccc;}

.hua_search .search_txt { position:absolute; left:10px; top:18px; font-weight:lighter; font-size:20px;}

.hua_search { margin:0 auto; height:58px; width:948px; background:#f0f3f4; margin-bottom:20px; position:relative; border-bottom:1px #d6e0e1 solid;}

.hua_search .hua_submit { background:url(/images/search.gif); height:31px; width:81px; border:none; cursor:pointer;}

.bijia { background:url(/images/bijia.png);height:22px; width:50px; border:none; cursor:pointer;}
.bijia_txt { position:relative;font-weight:lighter; font-size:18px;}


.hua_search .hua_submit { margin-left:225px;margin-top:16px;background:url(/images/search.gif); height:30px; width:81px; border:none; cursor:pointer; position:absolute; left:315px;}


.hua_search .hua_txt { margin-left:225px;margin-top:15px;height:30px; width:300px; border:1px #b9cac9 solid; position:absolute; top:0px;}
