/*Public system tag*/
*{
	margin:0 auto;
}
input,textarea{outline:0}
textarea{resize:none}
body{
	font-family:Arial, Helvetica, sans-serif;
	background: url("/images/bg_02.jpg"); background-repeat:repeat-x;
	padding:0;
	font-size:12px;
}

a{
	color:#0066cc;
	text-decoration:none;
}
a:HOVER{
	color:#f58220;
	text-decoration:none;
}
ul,ol,form{
	list-style: none outside none;
	padding: 0; 
}
h1{
	color:#ee6600;
	font-size:14px;
	font-weight:bold;
	line-height: 40px;
	margin:0px;
	clear:both;
}
h2{
	font-size:14px;
	font-weight:bold;
	padding:3px 0 10px 0;
	margin:0px;
	clear:both;
}
dl{
	margin: 0;
    padding: 0;
}
/*form submit require*/
.sHistory{
	behavior:url(#default#savehistory);
}
.req_tip{
 	color:#ff7676 !important;
}
input.rightformcss,select.rightformcss,textarea.rightformcss{
	background: url("/images/ico_right.gif") right no-repeat;
	border:1px solid green !important;
	padding:1px;
}
.failmsg{
	color:#e15a4b;	
}
.rightformcss{
	
	
}
.msgvaluecss{
	font-style:italic;
}
input.failformcss,select.failformcss,textarea.failformcss{
	background: url("/images/ico_fail.gif") right no-repeat;
	border:1px solid #ff7676 !important;
	padding:1px;
}

/*ID tag*/
#header{
	text-align:left;
}
#logo{

	width:200px;
	height:80px;
	float:left;
}
#content{
	text-align:left;
}
#footer{
	text-align:left;
}
#loading_mask{
	background: url("/images/loading.gif") no-repeat center;
	line-height:150px;
	height:150px
}
/*font*/
.orange{
	color:#ee6600;
}
.b{
	font-weight: bolder;
}
.f14{
	font-size: 14px;
}
.f16{
	font-size: 16px;
}
.f20{
	font-size:20px;
}
.fred{
	color:red;
}
.forg{
	color:#ff6600;
}
.fgray{
	color:#666666 !important;
}
.fblue{
	color:#0066cc;
}
.ful{
	text-decoration: underline;
}
/*Classes*/
.w950{
	width:950px;
}
.w9501{
	width:100%;
}
.w180{
	width:180px;
	*width:179px;
}
.bg_png{
	background: url(/images/bg.png) no-repeat scroll transparent;
}
.bt_ipt_png{
	background: url(/images/button_input.png) no-repeat scroll transparent;
}
.bt_ipt_png2{
	background: url(/images/sor.png) no-repeat; width:94px; height:38px;
}

.ico_png{
	background: url(/images/ico.png) no-repeat scroll transparent;
}
.ickey_png{
	background: url(/images/ickey.png) no-repeat scroll transparent;
}
.logos_png{
	background: url(/images/logos.png) no-repeat scroll transparent;
}
.logos_png1{
	background: url(/images/suplogo.jpg) no-repeat scroll transparent;
}
.rdo{
	width:12px !important;
	height:12px !important;
	border:0px !important;
}
.blank5 {
    clear: both;
    display: block;
    font-size: 1px;
    height: 5px;
    overflow: hidden;
}
.no_border {
    background-color: transparent !important;
    border: medium none !important;
    padding: 0;
}
.top_menu{
	background-position:0px 0px;
	width:680px;
	height:32px;
	float:right;
    overflow: hidden;
}
.top_member{
	border-right: 1px solid #DDDDDD;
	color: #666666;
	width:470px;
	line-height: 30px;
	margin:0 5px 0 10px;
	float:left;
}
.top_user{
	background-position:0px -193px;
	width:114px;
	height:23px;
	margin:3px 0 0 5px;
	float:left;
}
.top_pass{
	background-position:0px -216px;
	width:144px;
	height:23px;
	margin:3px 0 0 3px;
	float:left;
}
.top_input_login{
	width:98px;
	*width:92px;	/*ie6 ie7*/
	width:95px\9;	/*ie8*/
	padding:4px 0 0 5px;
	*padding-top:3px;
	
	color:#999999;
}

.top_btn_login{
	background-position:0px -66px;
	width:34px;
	height:19px;
	cursor:pointer;
	float:right;
	margin:2px 2px 0 5px;
	*margin-left:2px;
	position: absolute;
}

.top_link{
	width:200px;
	float:left;
	padding:7px 0 7px 20px;
	border-right:1px solid #dddddd;
}

.top_cart{
	
	width:170px;
	height:23px;
	float:left;
	padding:5px 0 0 20px;
}
.top_cart_ct{
	background-position:20px 2px;
	float:right;
	position:absolute;
	padding-left: 2px;
}
.top_cart_link{
	background-position:10px -2px;
	float:left;
	padding:5px 0 0 35px;
	width:60px;
}
.top_cart_favo{
	background-position:10px -245px;
	float:left;
	padding:5px 0 0 30px;
	width:60px;
}
.top_pay{
	background-position:-79px -66px;
	width:60px;
	height:20px;
	margin-right:0px;
	float:right;
}
.banner{
	float:left;
}
.services{
	height:33px;
	padding-top:5px;
}
.top_tel{
	float:right;
	height:inherit;
	text-align: right;
	color: #666666;
	border-right: 1px #dddddd solid;
	padding:0 10px 0 5px; 
}
.ico_tel{
	background-position:0px -28px;
	width:20px;
	height:20px;
	float:right;
}
.tel_no{
	color: #000000;
	font-size: 15px;
	font-style: oblique;
	font-weight: bold; 
}
.top_online{
	background-position:0px -32px;
	float:right;
	width:100px;
	height:30px;
	text-align: center;
	margin-left:10px;
}
.ico_online{
  background-position: 0 -56px;
  float: right;
  height: 25px;
  margin-top: 3px;
  width: 20px;
}
.link_online{
	float:right;
	padding:7px 10px 7px 10px;
}
#link_online{
	color:#559900;
	text-decoration:underline;
}
.nav_menu{
	margin-top:10px;
	float:right;
	z-index:1111111;
	
}
.nav_list{
	float:left;
}
.nav_list a{
	padding:0 20px;
}
.nav_list .nav_l1{
	display: inline;
	float:left;
	font-weight: bolder;
	line-height:32px;
	width:105px;
	margin-left: 2px;
	text-align:center; 
}
#menu_7{
	position:relative;
	z-index:2;
	}
.nav_list .nav_sub{
	position: absolute;
	left:0;
	top:32px;
	width:105px;
	border-top: 3px #4455BB solid;
	display:none;
	z-index:1111111;
	opacity:0.8;
	filter:alpha(opacity=80);
	
}
.nav_list .nav_l2{
	background-color: #CACACA;
	background:#4455BB;
}
.nav_list .nav_l2 a{
	color:#fff
}
.nav_list li a:HOVER{
	text-decoration:underline;
}
.nav_on{
	background-position:0px 0px;
	position:relative;
}
.nav_on a{
	color:#ffffff;
}
.nav_off{
	background-position:0px -33px;
	position:relative;
}

.nav_off a{
	color:#000000;
}
.nav_off_1{
	background-position:-344px -82px;
}

.nav_on_1{
	background-position:-344px -50px;
}
.nav_on_1 a{
	color:#ffffff;
}
.nav_off_1 a{
	color:#000000;
}

.top_line{
	height:3px;
	float:left;
	background-color: #4455bb;
	*margin-top:1px;
	*+margin-top:0;
}

.top_search_bar{
	/*background: url(/images/slogan_s.jpg) no-repeat center left; */
	
	height:34px;
	*height:38px;
	overflow:hidden;
	border-bottom:1px solid #dddddd;
	z-index:11;
}
.top_search_bar .search{
	margin:0;
	background-position: -148px -192px;
	float:right;
	height: 32px;
	width:242px;
}
.top_search_bar .search #words{
	width: 173px;
	margin-top: 8px;
}
.top_search_bar .search #btn_go{
	background-position: 0 -127px;
	height: 28px;
	width: 52px;
	margin-top: 2px;
}
.top_search_bar .checks{
	/*width:280px;
	*width:300px;
	width:300px\9*/;
	float:right;
	height:28px;
	padding-top: 8px;
}

.top_nav_bar{
	line-height:25px;
	margin-bottom: 10px;
	border-bottom:1px dotted #999999;
}
.intro_search{
	height:249px;
	border:1px solid #d6e0e1;
	
	background-color:  #b9cdce;
	*background-color:  #afc5c4;
	background-image: url(/images/intro_search_bg.png);
	background-repeat: repeat-x;
	background-position: top;	
}
.slogan{
	margin: 26px 0 0 38px;
	background: url(/images/slogan.png) no-repeat top left;
	height:35px;
}
.description{
	width:520px;
	color:#002266;
	padding: 15px 0 0 38px;
	float:left;
}
.description ul li{
	margin-bottom: 13px;
}
.search_bar{
	padding: 15px 0 0 0;
	margin-left:-10px;
	width:362px;
	float:left;
}
.search{
	background-position:0px -239px;
	width:362px;
	height:50px;
	*height:42px;
	margin-top:10px;
}
.search .checks{
	line-height:30px;
}
#btn_go{
	background-position:0px -87px;
	width:62px;
	height:38px;
	float:left;
	cursor:pointer;
	margin:2px 2px 0 5px;
}
#words{
	width:282px;
	float:left;
	color:#999999;
	margin:12px 0 0 10px;
}

.order_proxy{
	
	background: url(/images/fream_bg.png) repeat-x top #fff;
}

.rt_order_list{
	color:#002266;
	float:left;
	padding-top:10px;
}
.rt_order_list dl{
	float:left;
}
.rt_order_list dl dt{
	color:#666666;
	height:20px;
	margin-bottom:10px;
	border-bottom: 1px #dddddd solid;
}
.rt_order_list dl dd{
	height:20px;
	width:inherit;
}
.rt_name{
	width:200px;
}
.rt_proxy{
	width:85px;
}
.rt_price{
	width:85px;
}
.rt_price dd{
	color: #ee6600;
}
.rt_state{
	width:85px;
}
.rt_state dd{
	color: #559900;
}

.proxy_list{

	float: left;
    padding: 10px 0 0 0;
}

.proxy_list li{
	line-height:22px;
}
.proxy_list p{
	line-height:30px;
}

.index_jf_gb{
	width:310px;
	float: left;
    padding: 10px 0 0 0;
	}
	
.index_jf_gb dl{
	float: left;
	padding:5px 0px 5px 0px;

	_margin-left:0px;
    list-style: none outside none;
	background:url(/images/index_jf_gb.gif) no-repeat; 
   }
.jfname{
	font-size:14px;
	color:#666;
	font-weight:bold;
	}
.index_jf_gb dd{
	line-height:18px;
	float: left;
	padding:5px 5px;
	width:145px;
	height:60px;
	font-size:12px;
	/*font-style:italic;*/
	color:#333;
 }
.index_jf_gb img{
	height:50px;
	margin-right:5px;
	float:left;
	}
	
.index_jf_gb a{
	font-size:12px;
	}	
	
/*.proxy_list dl dd a{
	width:95px !important;
	height:35px !important;
	margin:0 !important;
	float: left;
}*/


.logo_prx{
	width:82px !important;
	height:30px !important;
	margin:0 !important;
	float: left;
}
.logo_nopartimg{
	background-position:0px 0px;
	background:url(/images/logo_nopartimg.gif);
 }
.logo_digikey{
	background-position:0px -211px;
}
.logo_mouser{
	background-position:-82px 0px;
}
.logo_newark{
	background-position:-164px 0px;
}
.logo_element14{
	background-position:-205px -163px
}
.logo_future{
	background-position:-164px -60px;
}
.logo_americaii{
	background-position:-246px 0px;
}

.logo_nuhorizons{
	background-position:0px -30px;
}
.logo_alliedelec{
	background-position:-82px -30px;
}
.logo_gerberelec{
	background-position:-164px -30px;
}
.logo_maxim-ic{
	background-position:-246px -30px;
}

.logo_inductor{
	background-position:0px -60px;
}
.logo_arrow{
	background-position:-82px -60px;
}
.logo_cnet{
	background-position:-164px -60px;
}
.logo_mcm{
	background-position:-246px -60px;
}


.logo_ti{
	background-position:-328px -0px;
}
.logo_nxp{
	background-position:-328px -30px;
}
.logo_xeltek{
	background-position:-328px -60px;
}
.logo_idt{
	background-position:-328px -90px;
}
.logo_altera{
	background-position:-328px -120px;
}
.logo_xilinx{
	background-position:-328px -150px;
}
.logo_ac{
	background-position:-328px -180px;
}


.footer_line{
	height:1px;
	float:left;
	text-align:center;
	background-color: #dddddd;
}
.footer_coop{
	width:595px;
	*padding-top:10px;
}
.footer_coop dl dd{
	float: left;
	margin: 9px 11px 0 0;
	*margin: 2px 11px 0 0;
	line-height:40px;
	list-style: none outside none;
}
.split{
	background-color: #dddddd;
	width:1px;
	overflow: hidden;
}
.logo_coop{
	width:82px;
	height:40px;
	float: left;
}
.logo_alipay{
	background-position:0px -114px;
}
.logo_tenpay{
	background-position:-82px -114px;
}
.logo_unionpay{
	background-position:-165px -114px;
	width:133px;
}
.logo_ups{
	background-position:0px -163px;
	width:48px;
}
.logo_fedex{
	background-position:-48px -163px;
	width:72px;
}
.logo_sfexpress{
	background-position:-120px -163px;
	width:84px;
}
.footer_copyright{
	padding-top:10px;
	float:left;
	text-align: center;
	line-height:20px;
}

.footer_copyright a{
	color:#343434
}

.footer_copyright a:hover{
	color:#343434;
	text-decoration:underline;
}

.fream{
	border-color: #CECECE;
    border-style: solid;
    border-width: 0 1px 1px;
}
.fream input{
	width:228px;
}
.fream .label{
	font-size:14px;
	height:40px;
	text-align: right;
	width:300px;
}
.fream input{
	border:1px #bbbbbb solid ;
	height:24px;
	margin:0 8px 0 0;
}
.fream .tips{
	height:10px;
	font-size:12px;
	color:#666666;
}

.grayh1{
	line-height: 30px;
	padding-left:10px;
	color: #000;
	font-size:12px;
	background-position: 0 -63px;
	z-index:-1;
}
#member_menu{
	float:left;
}
.prd_price_list .grayh1,#member_menu .grayh1{
	background-position: -101px -32px;
	
}
#member_menu ul li{
	background: url(/images/ico.png) no-repeat scroll transparent;
	background-position: 8px -81px;
	padding:0 26px;
	line-height:20px;
	color:#FF6600;
}
.line{
	background: url()!important;
	border-top:#dddddd solid 1px;
	margin:10px 0;
	font-size:0;
}

#member_content{
	border:#dddddd solid 3px;
	background: url(/images/content_bg.png) repeat-x top #fff;
	float:right;
	padding:10px;
	width:730px;
}
#member_content h1{
	color:#000000;
	padding:0 15px;
}
#member_content h2{
	color:#000000;
	padding:5px 33px;
	font-size:12px;
	border-bottom: #dddddd solid 1px;
	margin-bottom: 10px
}
#member_content ul{
	margin-left:15px;
	*margin-left:20px;
	font-size:14px;
}
#member_content ul li{
	margin-top:10px;
}
.myinfo{
	margin-bottom: 10px;
	padding-bottom:10px;
}
.myinfo li{
	font-size:12px;
	width:655px;
}
.myinfo li .label{
	width:105px;
	float:left;
	text-align: right;
}

#bt_reg{
	background-position: -149px -156px;
	width:228px;
	height:35px;
	cursor: pointer;
}
#bt_done{
	background-position: -233px -51px;
	width:100px;
	height:35px;
	cursor: pointer;
}
#bt_pay{
	background-position: -250px 0;
	width:140px;
	height:35px;
	cursor: pointer;

}
.prd_info{
	height:300px;
	margin-bottom: 10px;
}
.prd_img{
	float:left;
	text-align: center;
	width:250px;
	height:300px;
	border:1px #bbbbbb solid;
}

.prd_imp{
	float:left;
	margin-left:10px;
	width: 440px;
	height:178px;
	*height:186px;
}

.prd_imp h1{
	color: red;
  font-size: 20px;
  margin-left: 10px;
}
.prd_imp table{
	width:440px;
	*width:445px;
	float: left;
  line-height: 18px;
  margin-left: 10px;
}
.prd_imp table th{
	width:78px;
	line-height:18px;
	font-weight: normal;
	text-align: left;
}
.prd_imp table td #desc{
	height:18px;
	overflow: hidden;
}
.prd_price_list{
	float: right;
  height: 300px;
  margin: 2px 0 !important;
  width: 220px;
}
.prd_price_list table{
	width:auto;
	margin: 0;
}
.prd_price_list table th{
	/*width:100px;*/
	text-align: center;
	line-height:15px;
}
.prd_price_list table td{
	line-height: 10px;
  padding-right: 14px;
  text-align: right;
}
.prd_order{
	background-color: #FFFCEB;
  border: 1px solid #EED97C;
  float: left;
  height: 95px;
  margin: 22px 0 0 10px;
  *margin: 14px 0 0 10px;
  padding: 5px 0 0;
  width: 455px;
}
.prd_order div{
	line-height:35px;
	float:left;
	margin-left:20px;
}
.prd_order #prd_price{
	color:red;
	width:100px;
	height:35px;	
}
#btn_order{
	background-position: 0 -156px;
	width:140px;
	height:35px;
	cursor: pointer;
	float:left;
	margin-left: 20px;
}
#btn_order_s{
	background-position: -38px -66px;
	width:40px;
	height:17px;
	cursor: pointer;
	float:left;
		/*margin-left: 20px*/;
}
.orgh1{
	line-height: 30px;
	padding-left:10px;
	color: #000;
	font-size:12px;
	background-position: 0 -95px;
}

.prd_list{
	border-left:1px #cecece solid;
}
.grd_title{
	text-align: center;
	height:28px;
	background: url("/images/title_bg.png") repeat-x;
}
.prd_list td{
	border-color: #CECECE;
  border-style: solid;
  border-width: 0 1px 1px 0;
  /*line-height: 18px*/;
  /*text-align: center*/;
  padding: 5px;
  overflow:hidden
}
.prd_list td div{
	
}
.prd_list .sub_tab{
	border-color: #CECECE;
	border-style: solid;
	border-width: 1px 0 0 1px;
	text-align: center;
	table-layout:fixed;
}
.prd_list #mouser a{
	
}

.catfiltertopitem{
	font-size:14px;
	padding:5px;
}
.catfiltersub{
	padding-left:20px;
	margin: 5px 0;
}
.prd_list .sup_logo{
	width:82px;
	text-align: center;
	vertical-align: top;
}

.to_pay{
	background-position: -135px -61px;
  color: #FFFFFF;
  float: right;
  font-size: 14px;
  font-weight: bold;
  height: 25px;
  line-height: 25px;
  margin: 10px 5px;
  text-align: center;
  width: 96px
}

.to_pay:hover{
	color:#FFFFFF;
	text-decoration:underline;
}

.order_state_bar{
	width:800px;
	height:27px;
	margin-bottom: 10px;
}
.order_state_bar li{
	display: inline;
  float: left;
  font-weight: bolder;
  line-height: 27px;
  margin-left: 2px;
  text-align: center;
	width:198px;
	font-size:14px;
	color:#666666;
}

.order_state_1{
	background-position:0px -129px;
}

.order_state_2{
	background-position:0px -159px;
}

.order_state_3{
	background-position:0px -187px;
}

.order_state_4{
	background-position:0px -217px;
}

.catalog{
	padding:10px 20px;
	*padding:10px 20px 30px 20px;
	line-height:25px;
	margin-bottom:10px;
	height:auto !important;
    height:40px;
    min-height:40px;
	overflow:hidden;
}

.catalog dl dd{
	float:left;
	width:300px;
	color:#666666;
}
.catalog dl .bg{
	background-color: #F5F5F5;
}

.prx_list{
	padding:20px;
	*padding-bottom:60px;
	line-height:25px;
	margin-bottom:10px;
}
.prx_list dl dd{
	float:left;
	height: 61px;
	width: 151px;
	text-align: center;
}

.prx_list img{
	background-color: transparent !important;
    border: medium none !important;
    padding: 0;
}

.login_form{
	width:510px;
	float:left;
	padding:20px;
}
.login_form tr{
	line-height:50px;
}
.login_form .ckb{
	width:20px;
	height:auto;
	border:0;
}
.btn_login{
	background-position:-68px -120px;
	width:100px !important;
	height:35px !important;
	cursor: pointer;
	
}
.btn_register{
	background-position:-68px -88px;
	width:140px !important;
	height:30px !important;
	cursor: pointer;
	float: left;
}
.reg_tip{
	float:left;
	width:350px;
	padding:20px
}

#infodatas{
	border:0;
}
#infodatas th{
	font-weight: normal;
	padding-right:10px;
	border-right: 1px solid #CECECE;
	line-height:25px;
}
#infodatas td{
	padding-left:10px;
}
.rowBg{
	background-color: #f5f5f5;
}

.ordering_bg{
	background-color: #f0f6f8;
	border-color: #b7cbca;
	border-style: solid;
	border-width: 2px 0 1px 0;
	margin-bottom: 10px;
	padding-bottom:10px;
}
.ordering_bg h1{
	color:#000;
	margin-left:20px;
}
.ordering_addr{
	border:1px solid #b7cbca;
	background-color: #ffffff;
	padding:10px;
	margin: 0 22px;
}
.ordering_addr li{
	line-height:20px;
}
.ordering_edit{
	float:right;
	margin-right:93px;
	cursor: pointer;
	display:none;
	font-size:12px;
	font-weight: normal;
}
.ordering_btn{
	background-position:-213px -88px;
	width:120px !important;
	height:26px !important;
	cursor: pointer;
	/*float: left*/;
	color:#ffffff;
	line-height: 25px;
	text-align: center;
}

.order_fream{
	border:1px solid #eed97c;
	background-color: #fffceb;
	padding:10px;
	margin: 0 23px;
}
.order_bg{
	background-color: #fffceb;
	border-color: #eed97c;
	border-style: solid;
	border-width: 2px 0 1px 0;
	margin-bottom: 10px;
	padding-bottom:10px;
}
.order_bg li{
	font-size:12px;
}
.order_bg li .label{
	width:120px;
	float:left;
	text-align: right;
}

.order_bg li .labelqq{ padding-left:60px;
	
	float:left;
	
}

.order_bg th{
	text-align: center;
	background-color: #f5f5f5;
}
#psub{
	background-position:-173px -120px;
	width:140px !important;
	height:35px !important;
	cursor: pointer;
	float: left;
}
#psub_gray{
	background-position:-314px -120px;
	width:140px !important;
	height:35px !important;
	cursor: pointer;
	float: left;
	display: none;
}
#gorders{
	background-position:-107px 0px;
	width:140px !important;
	height:35px !important;
	cursor: pointer;
	float: right;	
}

.misc_content{
	padding:10px 40px;
}
.misc_content ul{
	line-height:20px
}
.misc_content h2{
	padding: 10px 0;
}
.misc_content h3{
	padding: 1px 10px;
	margin:5px 0;
	background-color: #eceef8;
}
.misc_content h4{
	padding-left:20px
}
.misc_content p{
	padding-left:3px;
	padding-bottom:20px;
	line-height: 25px;
}

.misc_menu{
	 width:180px; padding-right:20px;
	 float:left;
}
.misc_menu li{
	background-position:-775px 0;
	height:28px;
	line-height:28px;
	padding-left:20px;
	margin:0px;
}
.misc_menu .menu_on{
	background-position:-775px -28px;
}
.misc_menu .menu_on a{
	color:#ffffff;
}
.misc_content{
		width:700px;
		float:left;
		border-left:1px #dddddd solid;
		padding:0 20px;
		line-height:25px;
		font-size: 14px;
		           
}
.order_success{
	background-position: 0px -145px;
	line-height:34px;
	width:430px;
	margin-top:30px;
	padding-left:50px;
}
.order_fail{
	background-position: 0px -177px;
	line-height:34px;
	width:500px;
	margin-top:30px;
	padding-left:50px;
}

.ico_exp,.ico_close{
	width:9px;
	height:9px;
	cursor: pointer;
}
.ico_exp{
	background-position: -3px -216px;
}
.ico_close{
	background-position: -3px -228px;
}

.div_link{
	color: #6A8F1C;
	cursor: pointer;
}
/*
body{
	background:url(/images/bg.jpg) repeat-x top #fff;
	font-family:Arial, Helvetica, sans-serif;
	padding:0;
	font-size:12px;
	margin:0px auto auto auto;
	color:#6c7b81;
}
*/
body.details{
background:url(/images/bg2.jpg) repeat-x top #fff;
}

.clear{
clear:both;
}

h1.orange{
color:#f36d21;
}

p{
padding:5px 0 5px 0;
margin:0px;
text-align:justify;
line-height:19px;
}

.about_q{
	padding:10px;
	border:1px #ccc solid;
	background-color:#EFEFEF;
	line-height: 42px;
}

.wrap{
width:960px;
margin:auto;

}
.header{
width:960px;
height:171px;
/*background:url(/images/header_bg.jpg) no-repeat left;*/
}
._logo{
padding:64px 0 0 64px;
float:left;
}
/*-----------------------------menu-------------------*/
#menu{
width:525px;
float:right;
text-align:right;
padding:15px 10px 0 0;
margin:0px;
}
#menu ul{
display:block;
list-style:none;
margin:0px;
}
#menu ul li{
display:inline;
padding:0px;
margin:0px;
}
#menu ul li a{
width:81px;
height:28px;
display:block;
padding:0px;
margin:0 4px 0 4px;
float:left;
text-decoration:none;
text-align:center;
color:#fff;
font-size:13px;
line-height:28px;
}
#menu ul li.selected a{
width:81px;
height:28px;
display:block;
padding:0px;
margin:0 4px 0 4px;
float:left;
text-decoration:none;
text-align:center;
color:#fff;
font-size:13px;
line-height:28px;
background:url(/images/menu_bt_a.gif) no-repeat center;
}
#menu ul li a:hover{
background:url(/images/menu_bt_a.gif) no-repeat center;
}
/*--------------home_center_content-----------------*/
.home_center_content{
width:960px;
margin:auto;
float:left;
overflow:hidden;
height:346px;

}
.box1{
width:100%;
overflow:hidden;
margin-bottom:-165px;
}
.center_text{
width:430px;
height:330px;
float:left;
display:inline;
margin:20px 0 0 10px;
}
.center_text p{
color:#FFFFFF;
line-height:21px;
}
.big_title{
font-size:36px;
color:#FFFFFF;
padding:0 0 10px 0;
}
.big_title span{
font-weight:bold;
color:#4cb4e6;
}
.center_button_icons{
width:450px;
overflow:hidden;
margin:6px 0 0;
padding:0 0 0 5px;
}
.center_button_icons li{
width:106px;
float:left;
overflow:hidden;
padding:0px 12px 0;
text-align:center;
}
.center_button_icons li a{
font-size:10px;
text-decoration:none;
}
.center_button_icons li a:hover{
color:#99FFFF;
}
.right_img{
float:left;
width:384px;
height:281px;
text-align:center;
padding:10px 0 0 0;
background:url(/images/photo_frame.jpg) no-repeat center;
display:inline;
margin:16px 0 0 48px;
}

/*--------------main_content-----------------*/
.main_content{
width:960px;
margin:auto;
clear:left;
overflow:hidden;
background:url(/images/main_content_bg.jpg) no-repeat center top #fff;
}


.left_content{
width:415px;
float:left;
padding:20px 0 0 50px;
}
.right_content{
width:415px;
float:left;
padding:20px 0 0 40px;
}
.wide_content{
width:850px;
float:left;
padding:20px 0 0 50px;
}
.newsletter{
padding:15px 0 0 40px;
}
input.input{
width:210px;
height:19px;
float:left;
border:1px #98cdec solid;
background-color:#e2eff4;
color:#3596c5;
font-style:italic;
font-size:13px;
margin:3px 0 0 0;
padding:2px 0 0 5px;
}
input.subscribe{
float:left;
padding:0 0 0 10px;
}
.project_box{
width:381px;
margin:10px;
}
img.feat_project{
border:3px #c9c9c9 solid;
}
.project_details{
border-bottom:1px #9c9c9c dotted;
padding:5px 0 5px 0;
float:left;
}
span.left{
float:left;
display:block;
}
a.view{
float:right;
text-decoration:none;
color:#f36d21;
}
.news_box{
float:left;
width:390px;
clear:both;
padding:0 0 20px 0;
}
img.news_thumb{
float:left;
}
.news_content{
width:305px;
float:left;
padding:0 0 0 15px;
}
.principles_box{
float:left;
width:410px;
clear:both;
padding:0 0 5px 0;
margin:0 0 20px 0;
border-bottom:1px #cbccce dotted;
}
img.principles_thumb{
float:left;
padding:5px 0 0 0;
}
.principles{
width:290px;
float:left;
padding:0 0 0 15px;
}
img.big_pic{
padding:20px 0 0 0;
}
/*---------------------services_list-------*/
.services_list{
float:left;
padding:0px;
}
.services_list ul {
list-style:none;
padding:0;
margin:0px;
}
.services_list ul li{
padding:6px 0 6px 0;
margin:0px;
width:382px;
height:28px;
line-height:28px;
background:url(/images/list_bg.gif) no-repeat center;
}
.services_list ul li span{
color:#5aa4d4;
font-weight:bold;
}
.services_list ul li a{
text-decoration:none;
padding:0 0 0 10px;
font-size:12px;
margin:0px;
color:#6c7b81;
}
.services_list ul li a:hover{
color:#000000;
}
/*---------------contact_form------------------*/
.contact_form{
float:left;
padding:10px 0 20px 0;
}
.form_row{
width:360px;
clear:both;
padding:12px 0 12px 0;
color:#a53d17;
}
label.contact{
width:85px;
float:left;
font-size:14px;
font-weight:bold;
text-align:right;
padding:4px 15px 0 0;
color: #868788;
}
input.contact_input{
width:250px;
height:21px;
float:left;
border:1px #98cdec solid;
background-color:#e2eff4;
color:#3596c5;
font-size:13px;
margin:3px 0 0 0;
padding:3px 0 0 5px;
}
textarea.contact_textarea{
width:250px;
height:120px;
float:left;
border:1px #98cdec solid;
background-color:#e2eff4;
color:#3596c5;
font-size:13px;
margin:3px 0 0 0;
padding:2px 0 0 5px;
}
input.send{
cursor:pointer;
float:right;
padding:4px 5px 4px 10px;
}

.employe_box_left{
float:left;
width:180px;
line-height:25px;
margin:20px 0 0 0;
border-right:1px #CCCCCC dotted;
}
.employe_box_right{
float:left;
width:180px;
line-height:25px;
margin:20px 0 0 40px;
}
.contact_info{
float:left;
padding:5px 0 0 0;
}
/*--------------------footer-------------*/
.footer{
width:100%;
background:url(/images/footer_bg.gif) repeat-x top;
}
.footer_content{
width:960px;
margin:auto;
padding:0 0 20px 0;
}
.footer_tab1{
width:285px;
float:left;
padding:0 0 0 30px;
}
span.email{
background:url(/images/mail_icon.gif) no-repeat left;
padding:0 0 0 45px;
line-height:25px;
height:23px;
display:block;
}
.footer_info{
float:left;
padding:5px 0 5px 0;
}
p.info{
width:225px;
float:left;
padding:0 0 0 5px;
}
p.info_contact{
width:325px;
float:left;
padding:0 0 0 10px;
}
span.orange{
color:#f36d21;
float:left;
}
span.blue{
color:#58a2d3;
font-size:14px;
font-weight: bold;
}
.footer_copyrights{
clear:both;
border-top:1px #9c9c9c dotted;
color:#c5c7c8;
padding:10px 0 10px 0;
}
.footer_tab2{
width:350px;
float:left;
padding:0 0 0 40px;
}
.favorite_box{
width:200px;
float:left;
padding:5px 0 10px 0;
}
span.fav_nr{
width:37px;
height:37px;
color:#e6643a;
font-size:24px;
text-align:center;
font-weight:bold;
line-height:37px;
background:url(/images/favorites_box.gif) no-repeat center;
float:left;
}
.footer_tab3{
width:150px;
float:left;
padding:0 0 0 30px;
}
.footer_links{
float:left;
padding:0px;
}
.footer_links ul {
list-style:none;
padding:0;
margin:0px;
}
.footer_links ul li{
padding:6px 0 6px 0;
margin:0px;
width:150px;
border-bottom:1px solid #e2e2e2;
}
.footer_links ul li a{
text-decoration:none;
padding:0;
font-size:12px;
margin:0px;
color:#6c7b81;
}
.footer_links ul li a:hover{
color:#000000;
}

.newlist_top{
	line-height:15px;
	width:800px;
	margin-bottom:30px;
	*margin-bottom:20px;
	margin-top:-20px;
 }
.newlist_top ul{
	float:left;
	clear:both;
}
.newlist_top ul li{
	list-style:none;
	float:left;
	padding-right:10px;
	font-weight:bold;
}


/*以下王玉写代码*/
.abouttitel { height:28px; width:685px; font-size:16px; font-family:"微软雅黑"; font-weight:bold; line-height:28px; background:url(/images/abouttitel.jpg) repeat-x; margin-top:10px; padding-left:15px; float:left;}
.abouttitel2 { color:#666666; width:100%;  font-size:12px;  line-height:22px; background:url(/images/abouttitel2.jpg) repeat-x; background-position:top; float:left;}
.maodian {font-size:16px; font-family:"微软雅黑"; color:#000000; }
.hanggaop { padding-bottom:20px; }
.hangkuan { padding-left:20px; padding-right:20px;}
/*以下辛璟奋写代码*/
.new-exchange ul{
	float:left;
	width:500px;
	height:123px;

}
.new-exchange li{
	line-height:20px;
	width:500px;
}
/*弹出问号提示*/
.em_help{
	font-size:12px;
	font-weight:normal;
	position: relative;
	cursor:pointer;
	width:20px;
	height:20px;
	z-index: 22;
	background: url("/images/q_icon2.png") no-repeat center;
	}

.em_help em{
line-height:22px;
 /*background: url("/images/hover_em.png") no-repeat;*/
 width: 180px;

 	height:auto !important;
    height:40px;
    min-height:40px;
	overflow:hidden;
 position: absolute;

 text-align: left;
 background-color:#FFF;
 border:solid 1px #999;
 /*padding: 10px 12px 20px;*/
 padding: 5px 5px 5px;
 line-height:22px;
 color:#666;
 font-style: normal;
 z-index: 22;
 display:none ;
}
#em1{
line-height:22px;
 /*background: url("/images/hover_em.png") no-repeat;*/
 height:inherit;
}







/*  zhouyong add */
.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";}
.clearfix:after{clear:both;}

.span5{width:210px;}
.span7{width:732x;}

.well{width:190px;min-height:20px;margin-bottom:20px;background-color:transparent;}
.well label{display:block;margin-bottom:5px;color:#333333;}
.well label input,.well label select{display:block;}
.well .radio,.well .checkbox{padding-left:18px;}
.well .radio input[type="radio"],.well .checkbox input[type="checkbox"]{float:left;margin-left:-18px;}

#main .hua_left_box.nav{margin-left:0;margin-bottom:18px;list-style:none;}
.nav>li{line-height:18px;}
.nav>li>a{display:block;}
.nav>li>a:hover{text-decoration:none;background-color:#eeeeee;}
.nav .nav-header{display:block;padding:3px 0px;font-size:12px;font-weight:bold;line-height:18px;color:#999999;text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);text-transform:uppercase;}
#main .hua_left_box .nav-header a.dl{margin:10px 0px;padding-right:2px;}
#main .hua_left_box .nav li+.nav-header{margin-top:9px;}
#main  .pull-right{float:right;margin:6px 0 2px 10px;}


.attr_filter {width:200px;}
.attr_filter input[type="input"]{width:100px;}
.category-nav>li>a{padding-right:12px;display:inline;}
.category-nav>li>a:hover{background-color:transparent;}

#currentFilter{display:none;}
#currentFilter h4{margin:0px 0px 10px 0px;font-size:14px;}
#currentFilter .item{margin-bottom:12px; padding-bottom:8px;border-bottom:1px #b9cac9 solid;font-size:14px;}
#currentFilter .item .desc{display:inline-block;width:480px;}
#currentFilter .item .removeOneFilter{display:inline-block;width:120px;}

.style1_box .partImage img.img{width:55px;height:55px;}
.offTbl{width:700px;}
.offTbl thead{background-color:#eeeeee;height:20px;text-align:center;}
.offTbl tbody tr{padding: 8px 6px;}

.breadcrumb{padding:7px 14px;margin:0 0 18px;background-color:#fbfbfb;background-image:-moz-linear-gradient(top, #ffffff, #f5f5f5);background-image:-ms-linear-gradient(top, #ffffff, #f5f5f5);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));background-image:-webkit-linear-gradient(top, #ffffff, #f5f5f5);background-image:-o-linear-gradient(top, #ffffff, #f5f5f5);background-image:linear-gradient(top, #ffffff, #f5f5f5);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);border:1px solid #ddd;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:inset 0 1px 0 #ffffff;-moz-box-shadow:inset 0 1px 0 #ffffff;box-shadow:inset 0 1px 0 #ffffff;}.breadcrumb li{display:inline-block;text-shadow:0 1px 0 #ffffff;}
.breadcrumb .divider{padding:0 5px;color:#999999;}
.breadcrumb .active a{color:#333333;}
.pagination{height:36px;margin:18px 0;}
.pagination ul{display:inline-block;*display:inline;*zoom:1;margin-left:0;margin-bottom:0;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;-webkit-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);-moz-box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);box-shadow:0 1px 2px rgba(0, 0, 0, 0.05);}
.pagination li{display:inline;}
.pagination a{float:left;padding:0 14px;line-height:34px;text-decoration:none;border:1px solid #ddd;border-left-width:0;}
.pagination a:hover,.pagination .active a{background-color:#f5f5f5;}
.pagination .active a{color:#999999;cursor:default;}
.pagination .disabled a,.pagination .disabled a:hover{color:#999999;background-color:transparent;cursor:default;}
.pagination li:first-child a{border-left-width:1px;-webkit-border-radius:3px 0 0 3px;-moz-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px;}
.pagination li:last-child a{-webkit-border-radius:0 3px 3px 0;-moz-border-radius:0 3px 3px 0;border-radius:0 3px 3px 0;}
.pagination-centered{text-align:center;}
.pagination-right{text-align:right;}
.pager{margin-left:0;margin-bottom:18px;list-style:none;text-align:center;*zoom:1;}.pager:before,.pager:after{display:table;content:"";}
.pager:after{clear:both;}
.pager li{display:inline;}
.pager a{display:inline-block;padding:5px 14px;background-color:#fff;border:1px solid #ddd;-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;}
.pager a:hover{text-decoration:none;background-color:#f5f5f5;}
.pager .next a{float:right;}
.pager .previous a{float:left;}

.cake-sql-log{width:720px;border:1px solid #ddd;}
.cake-sql-log tbody tr td{padding:10px 2px;border-bottom:1px dashed #ddd;}