
<div id='content' class="w950 clearfix">
	<div class="row">
		<div class="hua_left_box span5">
		</div><!-- hua_left_box span5 -->
		<div class="right_box span7">
			<div class="<?php if('iframe' == $this->layout) {echo 'hua_left_box';} else{echo 'sidebar-nav';}; ?>">
				<ul class="nav nav-list">
				<li class="nav-header">商品类别</li>
				<?php foreach($categories as $category){?>
				<li><?php echo$this->Html->link($category['Category']['title_cn'] . '(' . $category['Category']['nodename'] . ')', 
					array('controller'=>'parts', 'action'=>'category', $category['Category']['id']))?></li>
				<?php }?>
				</ul>
			</div>
		</div><!-- span7 -->
	</div>
</div>